body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-image: url(./ufo-1265186__340.webp);
  min-height: 100vh;
  width: 100%;
  background-size: cover;
}

a {
  color: white;
  display: block;
  text-decoration: none;
  transition: 0.2s all ease-in;
}

i {
  font-size: 4rem;
}

header nav a:hover {
  color: orange;
}

.imgSize {
  background-color: aqua;
  height: 20rem;
  width: 25rem;
  margin-left: 8%;
  margin-top: 5rem;
}

main {
  background-image: url(./modulsBack.jfif);
  background-attachment: fixed;
  background-size: cover;
}

section#presentation {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 64, 121, 0.9363095580028886) 50%,
    rgba(0, 212, 255, 1) 100%
  );
  padding:3rem;
}

section#mobile{
  background-image: url(./iphone-11-pro.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height:100vh;
}
h2{
  color: blue;
}
p{
  color: rgb(52, 10, 168);
  font-weight: bold;
}

footer{
  background-color:black;
  color: white;
}
